.archive #archive {display: none;}
.home #home {display: none;}

.sticky-grid {
    margin-top: 50px;
}
.sticky-note {
    width: 95%;
    margin: 10px auto 20px auto;
	.note_shared {
		position: absolute;
	    right: 16px;
	}
    .sticky-header-drawer {
        width: 100%;
        margin-bottom: 5px;
        .mdl-textfield__input {
            font-size: 18px;
            font-weight: bold;
        }
        h2 {
            margin: 0;
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;

            .mdl-textfield__input {
                font-size: 22px;
            }
        }
    }
    .sticky-footer-drawer {
        width: 100%;
        bottom: 0;
        position: absolute;
        max-height: 5px;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
        &:hover {
            max-height: 70px;
        }
        button {
            margin: 5px;
        }
    }
    .spacer {
        height: 10px;
    }
    .sticky-note-content, .sticky-header-drawer {
        width: 100%;
        box-sizing: border-box;

        .mdl-textfield {
            width: 100%;
            padding: 0;
            .mdl-textfield__input {
                border-bottom: none;
            }
            .mdl-textfield__label {
                top: 2px;
                &:after {
                    bottom:0;
                }
            }
        }
    }
    .sticky-note-content {
        border: none;
        min-height: 20px;
        padding: 0 16px;
        margin-bottom: 5px;
    }
    .checkbox-item {
        position: relative;
        width: 100%;
        min-height: 24px;
        display: inline-block;
        label {
            width: 24px;
            position: absolute;
            left: 0;
        }
        .checkbox-content {
            padding-left: 24px;
            width: 100%;
        }
        &.is-checked {
            .sticky-note-content {
                color: #36B7C7;
                text-decoration: line-through;
            }

        }
    }
}
.dropzone {
    min-height: 200px;
    &.drop-target {
        background: rgba(22,22,22,0.05);
        border: 1px #cccccc dashed;
        .border-radius(4px);
    }
}
#login {
  position: absolute;
  right: 145px;
  top: 22px;
  z-index: 100;
  overflow: visible;
  display: none;
}
#profile {
  position: absolute;
  right: 145px;
  top: 18px;
  z-index: 100;
  width: auto;
  overflow: visible;
  display: none;
  .line {
    height: 25px;

    #profile_icon {
      float: left;
      margin-top: 8px;
    }
    #profile_image {
      float: left;
      display: none;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      .border-radius(50%);
    }
    #profile_text {
      float: right;
      padding-top: 10px;
      #profile_name {
        font-weight: bold;
      }
    }
    #profile_info {
      float: left;
      padding-left: 34px;
      span {
        font-size: 12px;
        line-height: 25px;
        vertical-align: middle;
      }
    }
    &::after {
      clear: both;
    }
  }
}
#archive, #home {
    position: absolute;
    right: 76px;
    top: 10px;
    z-index: 100;
    overflow: visible;
}
#add-note {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
#controls {
  display:none;
}
/* ANIMATIONS */
.sticky-note.delete {
	-webkit-animation: stickyDelete 0.5s forwards;
	animation: stickyDelete 0.5s forwards;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

@-webkit-keyframes stickyDelete {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(1,0,0,-90deg);
		transform: rotate3d(1,0,0,-90deg);
	}
}
@keyframes stickyDelete {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(1,0,0,-90deg);
		transform: rotate3d(1,0,0,-90deg);
	}
}

.sticky-note.archive {
	-webkit-animation: stickyArchive 0.6s forwards;
	animation: stickyArchive 0.6s forwards;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes stickyArchive {
	40% {
		-webkit-animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		-webkit-transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
		transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
		transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
		transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
	}
}

@keyframes stickyArchive {
	40% {
		-webkit-animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		-webkit-transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
		transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
		transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
		transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
	}
}
/* DRAGULA LIBRARY */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
/* END DRAGULA LIBRARY */
