/* produces a square in IE8 and below!! */
.archive #archive {
  display: none;
}
.home #home {
  display: none;
}
.sticky-grid {
  margin-top: 50px;
}
.sticky-note {
  width: 95%;
  margin: 10px auto 20px auto;
}
.sticky-note .sticky-header-drawer {
  width: 100%;
  margin-bottom: 5px;
}
.sticky-note .sticky-header-drawer .mdl-textfield__input {
  font-size: 18px;
  font-weight: bold;
}
.sticky-note .sticky-header-drawer h2 {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
}
.sticky-note .sticky-header-drawer h2 .mdl-textfield__input {
  font-size: 22px;
}
.sticky-note .sticky-footer-drawer {
  width: 100%;
  bottom: 0;
  position: absolute;
  max-height: 5px;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
.sticky-note .sticky-footer-drawer:hover {
  max-height: 70px;
}
.sticky-note .sticky-footer-drawer button {
  margin: 5px;
}
.sticky-note .spacer {
  height: 10px;
}
.sticky-note .sticky-note-content,
.sticky-note .sticky-header-drawer {
  width: 100%;
  box-sizing: border-box;
}
.sticky-note .sticky-note-content .mdl-textfield,
.sticky-note .sticky-header-drawer .mdl-textfield {
  width: 100%;
  padding: 0;
}
.sticky-note .sticky-note-content .mdl-textfield .mdl-textfield__input,
.sticky-note .sticky-header-drawer .mdl-textfield .mdl-textfield__input {
  border-bottom: none;
}
.sticky-note .sticky-note-content .mdl-textfield .mdl-textfield__label,
.sticky-note .sticky-header-drawer .mdl-textfield .mdl-textfield__label {
  top: 2px;
}
.sticky-note .sticky-note-content .mdl-textfield .mdl-textfield__label:after,
.sticky-note .sticky-header-drawer .mdl-textfield .mdl-textfield__label:after {
  bottom: 0;
}
.sticky-note .sticky-note-content {
  border: none;
  min-height: 20px;
  padding: 0 16px;
  margin-bottom: 5px;
}
.sticky-note .checkbox-item {
  position: relative;
  width: 100%;
  min-height: 24px;
  display: inline-block;
}
.sticky-note .checkbox-item label {
  width: 24px;
  position: absolute;
  left: 0;
}
.sticky-note .checkbox-item .checkbox-content {
  padding-left: 24px;
  width: 100%;
}
.dropzone {
  min-height: 200px;
}
.dropzone.drop-target {
  background: rgba(22, 22, 22, 0.05);
  border: 1px #cccccc dashed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-moz-border-radius: 4px;
  -ms-moz-border-radius: 4px;
  border-radius: 4px;
}
#archive,
#home {
  position: absolute;
  right: 76px;
  top: 10px;
  z-index: 100;
  overflow: visible;
}
#add-note {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}
/* ANIMATIONS */
.sticky-note.delete {
  -webkit-animation: stickyDelete 0.5s forwards;
  animation: stickyDelete 0.5s forwards;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
@-webkit-keyframes stickyDelete {
  to {
    opacity: 0;
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
    transform: rotate3d(1, 0, 0, -90deg);
  }
}
@keyframes stickyDelete {
  to {
    opacity: 0;
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
    transform: rotate3d(1, 0, 0, -90deg);
  }
}
.sticky-note.archive {
  -webkit-animation: stickyArchive 0.6s forwards;
  animation: stickyArchive 0.6s forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
@-webkit-keyframes stickyArchive {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
    animation-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 20%, 0) scale3d(1.1, 1.1, 1);
    transform: translate3d(0, 20%, 0) scale3d(1.1, 1.1, 1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, -280px, 0) scale3d(0.1, 0.1, 1);
    transform: translate3d(0, -280px, 0) scale3d(0.1, 0.1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -250px, 0) scale3d(0.05, 0.05, 1);
    transform: translate3d(0, -250px, 0) scale3d(0.05, 0.05, 1);
  }
}
@keyframes stickyArchive {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
    animation-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 20%, 0) scale3d(1.1, 1.1, 1);
    transform: translate3d(0, 20%, 0) scale3d(1.1, 1.1, 1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, -280px, 0) scale3d(0.1, 0.1, 1);
    transform: translate3d(0, -280px, 0) scale3d(0.1, 0.1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -250px, 0) scale3d(0.05, 0.05, 1);
    transform: translate3d(0, -250px, 0) scale3d(0.05, 0.05, 1);
  }
}
/* DRAGULA LIBRARY */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/* END DRAGULA LIBRARY */
